<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_transform_drop</componentName>
  <componentDescription>cmpt_transform_drop</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.Drop</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_apply</componentPid>
  <params>
    <param>
      <name>colsName</name>
      <description>colsName</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
