<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_logisticregression</componentName>
  <componentDescription>cmpt_ml_model_logisticregression</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.LogisticRegressionModel</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_ml_model</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>isCover</name>
      <description>isCover</description>
      <type>options</type>
      <nullable>false</nullable>
      <defaultOptions>
        <option value="false" desc="FALSE" name="false"/>
        <option value="true" desc="TRUE" name="true"/>
      </defaultOptions>
      <defaultValue>false</defaultValue>
    </param>
    <param>
      <name>trainDataPer</name>
      <description>trainDataPer</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>labelCol</name>
      <description>labelCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>featuresCol</name>
      <description>featuresCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>numClasses</name>
      <description>numClasses</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>addIntercept</name>
      <description>addIntercept</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="false" desc="false" value="false"/>
        <option name="true" desc="true" value="true"/>
      </defaultOptions>
      <defaultValue>false</defaultValue>
    </param>
    <param>
      <name>validateData</name>
      <description>validateData</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="true" desc="true" value="true"/>
        <option name="false" desc="false" value="false"/>
      </defaultOptions>
      <defaultValue>true</defaultValue>
    </param>
  </params>
</component>
