<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_logisticregression</componentName>
  <componentDescription>cmpt_ml_model_logisticregression</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.LogisticRegressionModel</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>filePath</name>
      <description>filePath</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>numClasses</name>
      <description>numClasses</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trainDataPer</name>
      <description>trainDataPer</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>seed</name>
      <description>seed</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
