<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_naivebayes</componentName>
  <componentDescription>cmpt_ml_model_naivebayes</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.NaiveBayesModel</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>lambda</name>
      <description>lambda</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trainDataPer</name>
      <description>trainDataPer</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>modelType</name>
      <description>modelType</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="multinomial" desc="multinomial" value="multinomial"/>
        <option name="bernoulli" desc="bernoulli" value="bernoulli"/>
      </defaultOptions>
      <defaultValue>multinomial</defaultValue>
    </param>
    <param>
      <name>seed</name>
      <description>seed</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
