<?xml version="1.0" encoding="UTF-8"?>
<component>
    <componentName>component_transform_except</componentName>
    <componentDescription>component_transform_except</componentDescription>
    <componentClass>com.chinasofti.ark.bdadp.component.Except</componentClass>
    <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
    <componentPid>component_pid_apply</componentPid>
    <params>

    </params>
</component>
