<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_transform_join</componentName>
  <componentDescription>component_transform_join</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.Join</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_apply</componentPid>
  <params>
    <param>
      <name>conditionExpr</name>
      <description>conditionExpr</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>

  </params>
</component>
