<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_transform_predict_regression_linear</componentName>
  <componentDescription>cmpt_transform_predict_regression_linear</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.PredictRegressionLinear</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_apply</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>features</name>
      <description>features</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
