<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_decisionTree</componentName>
  <componentDescription>cmpt_ml_model_decisionTree</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.DecisionTreeModel</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trainDataPer</name>
      <description>trainDataPer</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>labelCol</name>
      <description>labelCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>featuresCol</name>
      <description>featuresCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>impurity</name>
      <description>impurity</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>maxDepth</name>
      <description>maxDepth</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>maxBins</name>
      <description>maxBins</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>numClasses</name>
      <description>numClasses</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
