<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_sink_csv</componentName>
  <componentDescription>component_sink_csv</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.CSVSink</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>header</name>
      <description>header</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>delimiter</name>
      <description>delimiter</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>quote</name>
      <description>quote</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>escape</name>
      <description>escape</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>parserLib</name>
      <description>parserLib</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="commons" desc="COMMONS" value="commons"/>
        <option name="univocity" desc="UNIVOCITY" value="univocity"/>
      </defaultOptions>
      <defaultValue>commons</defaultValue>
    </param>
    <param>
      <name>quoteMode</name>
      <description>quoteMode</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="all" desc="ALL" value="ALL"/>
        <option name="minimal" desc="MINIMAL" value="MINIMAL"/>
        <option name="non_numeric" desc="NON_NUMERIC" value="NON_NUMERIC"/>
        <option name="none" desc="NONE" value="NONE"/>
      </defaultOptions>
      <defaultValue>NONE</defaultValue>
    </param>
    <param>
      <name>charset</name>
      <description>charset</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>inferSchema</name>
      <description>inferSchema</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>comment</name>
      <description>comment</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>nullValue</name>
      <description>nullValue</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>dateFormat</name>
      <description>dateFormat</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>numPartitions</name>
      <description>numPartitions</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>

  </params>
</component>
