<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_sink_csv</componentName>
  <componentDescription>component_sink_csv</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.CSVSink</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>header</name>
      <description>header</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>delimiter</name>
      <description>delimiter</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>quote</name>
      <description>quote</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>escape</name>
      <description>escape</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>nullValue</name>
      <description>nullValue</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>dateFormat</name>
      <description>dateFormat</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>codec</name>
      <description>codec</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="-" desc="-" value=""/>
        <option name="bzip2" desc="bzip2" value="bzip2"/>
        <option name="gzip" desc="gzip" value="gzip"/>
        <option name="lz4" desc="lz4" value="lz4"/>
        <option name="snappy" desc="snappy" value="snappy"/>
        <option name="compressionCodec" desc="compressionCodec" value="org.apache.hadoop.io.compress.CompressionCodec"/>
      </defaultOptions>
      <defaultValue>-</defaultValue>
    </param>
    <param>
      <name>quoteMode</name>
      <description>quoteMode</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="MINIMAL" desc="MINIMAL" value="MINIMAL"/>
        <option name="ALL" desc="ALL" value="ALL"/>
        <option name="NON_NUMERIC" desc="NON_NUMERIC" value="NON_NUMERIC"/>
        <option name="NONE" desc="NONE" value="NONE"/>
      </defaultOptions>
      <defaultValue>MINIMAL</defaultValue>
    </param>
    <param>
      <name>numPartitions</name>
      <description>numPartitions</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
  </params>
</component>
