<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_transform_fill</componentName>
  <componentDescription>component_transform_fill</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.Fill</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_apply</componentPid>
  <params>
    <param>
      <name>origins</name>
      <description>origins</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>fills</name>
      <description>fills</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>cols</name>
      <description>cols</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>delimiter</name>
      <description>delimiter</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>

  </params>
</component>
