<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_regression_linear</componentName>
  <componentDescription>cmpt_ml_model_regression_linear</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.RegressionLinear</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trainDataSplit</name>
      <description>trainDataSplit</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>testDataSplit</name>
      <description>testDataSplit</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>maxIter</name>
      <description>maxIter</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>regParam</name>
      <description>regParam</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>elasticNetParam</name>
      <description>elasticNetParam</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>featureCols</name>
      <description>featureCols</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>labelCol</name>
      <description>labelCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
