<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_source_jdbc</componentName>
  <componentDescription>component_source_jdbc</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.JDBCSource</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_source</componentPid>
  <params>
    <param>
      <name>conUrl</name>
      <description>conUrl</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>table</name>
      <description>table</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>userName</name>
      <description>userName</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>passWord</name>
      <description>passWord</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>partitionColumn</name>
      <description>partitionColumn</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>lowerBound</name>
      <description>lowerBound</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>upperBound</name>
      <description>upperBound</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>numPartitions</name>
      <description>numPartitions</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
  </params>
</component>
