<?xml version="1.0" encoding="UTF-8"?>
<component>
    <componentName>component_jdbc_export</componentName>
    <componentDescription>component_jdbc_export</componentDescription>
    <componentClass>com.chinasofti.ark.bdadp.component.sample.JdbcExportComponent</componentClass>
    <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
    <!-- 60px * 60px, 20px * 20px -->
    <componentPid>component_pid_data_extract</componentPid>
    <params>
        <param>
            <name>jdbc_driver</name>
            <description>jdbc_driver</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>jdbc_url</name>
            <description>jdbc_url</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>jdbc_user</name>
            <description>username</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>jdbc_pwd</name>
            <description>password</description>
            <type>password</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>jdbc_sql</name>
            <description>SQL</description>
            <type>textarea</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>file_record_num</name>
            <description>file_record_num</description>
            <type>number</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>dest_path</name>
            <description>dest_path</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>dest_name</name>
            <description>dest_name</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>separator</name>
            <description>column_sperator</description>
            <type>text</type>
            <nullable>false</nullable>
        </param>
        <param>
            <name>charset</name>
            <description>file_encode</description>
            <type>text</type>
            <nullable>true</nullable>
        </param>

    </params>
</component>
