<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_collaborativeFilteringALS</componentName>
  <componentDescription>cmpt_ml_model_collaborativeFilteringALS</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.CollaborativeFilteringALS</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
