{title:{text:$title,subtext:$subtitle,x:'center'},color:['#3398DB'],tooltip:{trigger:'axis',axisPointer:{type:'shadow'}},grid:{left:'3%',right:'4%',bottom:'3%',containLabel:true},xAxis:[{type:'category',data:$legendData,axisTick:{alignWithLabel:true}}],yAxis:[{type:'value'}],series:[{name:'name',type:'bar',barWidth:'60%',data:$seriesData}]}
