<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>cmpt_ml_model_SVM</componentName>
  <componentDescription>cmpt_ml_model_SVM</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.SVMModel</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trainDataPer</name>
      <description>trainDataPer</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>labelCol</name>
      <description>labelCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>featuresCol</name>
      <description>featuresCol</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>numIterations</name>
      <description>numIterations</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>stepSize</name>
      <description>stepSize</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>regParam</name>
      <description>regParam</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>miniBatchFraction</name>
      <description>miniBatchFraction</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>