<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_content_conversion</componentName>
  <componentDescription>component_content_conversion</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.sample.ContentConversionRunnableComponent
  </componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_data_conversion</componentPid>
  <params>
    <param>
      <name>file_source</name>
      <description>file_source</description>
      <type>options</type>
      <nullable>false</nullable>
      <defaultOptions>
        <option name="local" desc="local" value="0"/>
        <option name="hdfs" desc="hdfs" value="1"/>
      </defaultOptions>
      <defaultValue>0</defaultValue>
    </param>
    <param>
      <name>file_path</name>
      <description>file_path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>file_name</name>
      <description>file_name</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>line_sperator</name>
      <description>line_sperator</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>column_sperator</name>
      <description>column_sperator</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>char_replace_src</name>
      <description>char_replace_src</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>char_replace_dest</name>
      <description>char_replace_dest</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>trim_space</name>
      <description>trim_space</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>dest_source</name>
      <description>dest_source</description>
      <type>options</type>
      <nullable>false</nullable>
      <defaultOptions>
        <option name="local" desc="local" value="0"/>
        <option name="hdfs" desc="hdfs" value="1"/>
      </defaultOptions>
      <defaultValue>0</defaultValue>
    </param>
    <param>
      <name>dest_path</name>
      <description>dest_path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>

  </params>
</component>
