<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_sink_rpc</componentName>
  <componentDescription>component_sink_rpc</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.RpcSink</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_sink</componentPid>
  <params>
    <param>
      <name>host</name>
      <description>Host</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>port</name>
      <description>Port</description>
      <type>number</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>interval</name>
      <description>Interval</description>
      <type>number</type>
      <nullable>false</nullable>
    </param>

  </params>
</component>
