<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component_source_csv</componentName>
  <componentDescription>component_source_csv</componentDescription>
  <componentClass>com.chinasofti.ark.bdadp.component.CSVSource</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_source</componentPid>
  <params>
    <param>
      <name>path</name>
      <description>path</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>header</name>
      <description>header</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>delimiter</name>
      <description>delimiter</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>quote</name>
      <description>quote</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>escape</name>
      <description>escape</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>parserLib</name>
      <description>parserLib</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="commons" desc="COMMONS" value="commons"/>
        <option name="univocity" desc="UNIVOCITY" value="univocity"/>
      </defaultOptions>
      <defaultValue>commons</defaultValue>
    </param>
    <param>
      <name>mode</name>
      <description>mode</description>
      <type>options</type>
      <nullable>true</nullable>
      <defaultOptions>
        <option name="permissive" desc="PERMISSIVE" value="PERMISSIVE"/>
        <option name="dropmalformed" desc="DROPMALFORMED" value="DROPMALFORMED"/>
        <option name="failfast" desc="FAILFAST" value="FAILFAST"/>
      </defaultOptions>
      <defaultValue>PERMISSIVE</defaultValue>
    </param>
    <param>
      <name>charset</name>
      <description>charset</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>inferSchema</name>
      <description>inferSchema</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>comment</name>
      <description>comment</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>nullValue</name>
      <description>nullValue</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
    <param>
      <name>dateFormat</name>
      <description>dateFormat</description>
      <type>text</type>
      <nullable>true</nullable>
    </param>
  </params>
</component>
